body
    {
        margin:0px;
        /*background-color:#f26724;*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image:url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        color:#f9fcf5;
        font-family:Arial, Helvetica, sans-serif;
    }

    #main
    {
        width:600px;  height:auto; overflow:hidden; padding-bottom:20px; margin-left:auto; margin-right:auto;
        border-radius:5px; padding-left:10px; margin-top:80px; border-top:3px double #f1f1f1;
        border-bottom:3px double #f1f1f1;border-left:3px double #f1f1f1;border-right:3px double #f1f1f1; padding-top:20px;
    }

    #main table
    {
        font-family:"Comic Sans MS", cursive;
     }

    
    #main .tb
    {
        height:28px; width:230px; border:1px solid #f26724; color:#fd7838; font-weight:bold; border-left:5px solid #f7f7f7; opacity:0.9;}

    #main .tb:focus
    {
        height:28px; border:1px solid #f26724; outline:none; border-left:5px solid #f7f7f7;
    }

    
    #main .btn
    {
        width:150px; height:32px; outline:none;  color:#f7f7f7; font-weight:bold; border:0px solid #f26724;
        text-shadow: 0px 0.5px 0.5px #fff; border-radius: 2px; font-weight: 600; color: #f26724; letter-spacing: 1px;
        font-size:14px; background-color:#f1f1f1; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;
    }

    #main .btn:hover
    {
        background-color:#f26724; outline:none;  border-radius: 2px; color:#f1f1f1; border:1px solid #f1f1f1;
        -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; 
    }

    td .profile-footer
    {
        background-color: #0000C3;
        color:#fff;
        padding: 15px 0;
    }

    .profile-footer
    {
        /*background-color: #0000C3;*/
          padding: 15px 0;
    }

    .social
    {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    }

    .social li
    {
    display: inline-block;
    margin: 5px 15px;
    line-height: 45px;
    text-decoration: none;
    }

    .social li a
    {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
    -moz-transition: -moz-transition, background-color 0.25s linear 0s;
    transition: transition, background-color 0.25s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-decoration: none;
    }

   .social li a:hover
   {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    }

   .social li a i
   {
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    display: block;
   }

  .social li a:hover, .turn-right
  {
  animation-name: turn-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: linear;
  -webkit-animation-name: turn-right;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
  
   }

@keyframes turn-right 
{  
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
